{% extends 'base_order.html' %}

{# Load the tag library #}
{% load bootstrap5 %}
{% load static %}

{% block dependence %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

{% endblock %}

{% block body %}

{% for order in orders %}
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Orden: {{ order.pk }}</h3>
            <h4>Total: {{ order.total }}</h4>
            <h4>Items: </h4>
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="order" value={{ order.pk }}>
                <input type="submit" value="Terminar">
            </form>
        </div>
        <div class="col">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tamaño</th>
                    <th scope="col">Cant de extra</th>
                    <th scope="col">Extras</th>
                    <th scope="col">Monto</th>
                  </tr>
                </thead>
                <tbody>
                {% for item in order.order_item.all %}
                    <tr>
                        <th scope="row">{{ item.product.name }}</th>
                        <td>{{ item.size }}</td>
                        <td>{{ item.extra }}</td>
                        <td>{{ item.extras }}</td>
                        <td>{{ item.amoun }}</td>
                    </tr>  
                {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}