{% extends 'base_order.html' %}

{# Load the tag library #}
{% load bootstrap5 %}

{% block dependence %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

{% endblock %}

{% block body %}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Pizza </h5>
            <p class="card-text">size</p>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown button
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li class="dropdown-item">Small</li>
                  <li class="dropdown-item">Large</li>
                </ul>
            </div>
            
        </div>
    </div>

{% endblock %}