{% extends 'base_order.html' %}

{# Load the tag library #}
{% load bootstrap5 %}
{% load static %}

{% block dependence %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

{% endblock %}

{% block body %}

    <div class="card" style="width: 58rem;">
        <img src="{% static 'img/pizza.jpeg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Web50 pizza</h5>
            <p class="card-text">Web50 pizza es un sitio donde podes ordenar pizza, pastas, subs, ensaladas y platos fuertes</p>
            <form action="" method="post">
                {% csrf_token %}
                {% if order %}
                    <p>para poder crear una nueva orden confirme la que tiene pendiente la puede ver en la opcion del carrita en la barra de navegacion</p>
                {% else %}
                    <input type="submit" value="Ordenar">
                {% endif %}        
            </form>
            
        </div>
    </div>
    

{% endblock %}